---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-[100vw] h-[100vh]">
      <div
        class="flex flex-col bg-black w-[100vw] h-[100vh] justify-center items-center font-montserrat text-3xl"
      >
        <div>
          <p class="text-[48px] text-[white] relative bottom-20 text-center">
            Coming Soon
          </p>
          <div
            class="text-[white]relative bottom-10 text-[18px] flex justify-center items-center"
          >
            <span class={"color: FFF"}>
              <p>
                <div>
                  <div class="relative p-10">
                    <p
                      class="font-montserrat text-[#FC7B25] m-10 text-[200px] text-center"
                    >
                      inopsia
                    </p>
                    <p
                      class="text-[white] text-[28px] font-montserrat text-right relative top-8 right-60 font-slim"
                    >
                      AI Driven, Finance Excellence
                    </p>
                  </div>
                  <div class="mx-auto relative top-100">
                    <p class="text-center text-white flex">
                      <span class="flex justify-center items-center flex-direction-row">
                        <a
                          href="https://www.linkedin.com/company/inopsia/"
                          class="mx-auto w-fit flex-direction-row justify-center items-center relative top-40"
                        >
                          To stay up to date follow us on <img
                            width={"10%"}
                            src="public/assets/images/li-logo.png"
                            width="20px"
                            class="mx-auto flex-direction-row justify-center items-center 'relative top-400"
                          /><p></p>
                        </a>
                      </span>
                    </p>
                  </div>
                </div>
              </p>
            </span>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
